<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="shipping" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">

          <group id="ordertracker" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Order Tracker</label>
            <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                <label>Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="cut_off" translate="label" type="time" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                <label>Daily Cut-off Time</label>
            </field>
            <field id="mapbox_key" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                <label>MapBox Access Token</label>
            </field>
          </group>
        </section>
    </system>
</config>
